<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="login-form bg-light mt-4 p-4">
        <h2>Insert Challenge</h2>
        <form
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              [(ngModel)]="form.name"
              required
              minlength="3"
              maxlength="20"
              #name="ngModel"
            />
            <div class="alert-danger" *ngIf="name.errors && f.submitted">
              <div *ngIf="name.errors.name">Name is required</div>
              <div *ngIf="name.errors.name">
                Name must be at least 3 characters
              </div>
              <div *ngIf="name.errors.maxlength">
                Username must be at most 20 characters
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              name="title"
              [(ngModel)]="form.title"
              required
              minlength="3"
              maxlength="20"
              #title="ngModel"
            />
            <div class="alert-danger" *ngIf="title.errors && f.submitted">
              <div *ngIf="form.title.errors.name">title is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <input
              type="text"
              class="form-control"
              name="description"
              [(ngModel)]="form.description"
              required
              email
              #description="ngModel"
            />
            <div class="alert-danger" *ngIf="description.errors && f.submitted">
              <div *ngIf="description.errors">Description is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="deadline">Deadline</label>
            <input
              type="text"
              class="form-control"
              name="deadline"
              [(ngModel)]="form.deadline"
              required
              minlength="6"
              #deadline="ngModel"
            />
            <div class="alert-danger" *ngIf="deadline.errors && f.submitted">
              <div *ngIf="deadline.errors.required">Password is required</div>
              <div *ngIf="deadline.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block">Lancia la sfida</button>
          </div>

          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </div>
        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">
          Your registration is successful!
        </div>
      </div>
    </div>
  </div>
