.rosso{
  background: #ff6961;
}

.verde{
  background: #77DD77;
}

.blue{
  background: #90e0ef;
}

.giallo{
  background: #DEE64C;
}

.card-header{
  background-color: #90e0ef ;
}

.card-body{

}

.card-footer{

  background-color: #fcf6f6;

}
