<div class="col mb-4">
<div class="card border-success mb-3" style="max-width: 30rem;">
  <div class="card-header bg-transparent border-success">Sfida tra Marco e Antonio</div>
  <div class="card-body text-success">
    <h5 class="card-title">Costruire 1000 aeroplanini di carta</h5>
  {{data}}
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-footer bg-transparent border-success">
    <div class="d-grid gap-2 d-md-flex ">
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
    </div>
  </div>
</div>
</div>
